.box1{
    border: 1px solid black;
    background-color: black;
    height: 30px;
}

ul{
    float: left;
    color:white;
}

ul li{
    margin-top: -10px;
    float: left;
    position: relative;
    left: 300%;
    width: 80px;
    font-size: 14px;
    font-family: barlow condensed,sans-serif;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color:white;
}

h5{
    margin-top: 1px;
    color: white;
    margin: 7px 12px;
    position: relative;
    left: -18%;
    font-family: barlow condensed,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

/*novbar*/
.subbox{
    border: 1px solid transparent;
    background-color: whitesmoke;
    height: 50px;
    
}

ol{
    float: left;
    
}
ol li{
    float:left;
    width: 80px;
    position: relative;
    left: -90%;
    list-style-type: none;
    font-family: barlow condensed,sans-serif;
    font-size: 18px;
}
ol li a{
    text-decoration: none;
    color:black;
}

ol li a:hover{
    border-bottom: 4px solid red;
}

.fa-search{
    position: absolute;
    left: 82%;
    top: 9%;
    color:black;
}

.fa-user{
     position: absolute;
    left: 85%;
    top: 9%;
    color:black;
}
.fa-shopping-cart{
    position: absolute;
    left: 88%;
    top: 9%;
    color:black;
    width: 25px;
    height: -30px;
    border-radius: 100px;
    background-color: navajowhite;
    margin-top: -2px;
    margin-left: -4px;
    text-align: left;
}
.col-4{
    
    float: left;
  width: 33.33%;
  padding: 5px;
    transition: transform 0.5s;
    
}
.col-4 img{
    width: 50%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-4:hover{
     transform: translateY(-5px);
}
.row-2{
   
    margin: 100px auto 50px;
     position: absolute;
    left: 85%;
    top: 10%;
    color:black;
    
    
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: skyblue;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}